.angular-date-range-picker__input {
    position: relative;
}

.angular-date-range-picker__panel {
    padding: 5px 2px;
    float: right;
    width: 143px;
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
}

.angular-date-range-picker__next-month {
    right: 4px;
}

.angular-date-range-picker__prev-month,
.angular-date-range-picker__next-month {
    position: absolute;
    top: 13px;
    text-decoration: none !important;
}

.angular-date-range-picker__prev-month {
    left: 16px;
}

.angular-date-range-picker__next-month {
    right: 16px;
}

.angular-date-range-picker__calendar {
    border-collapse: collapse;
    border-spacing: 0;
    padding: 0;
    width: 150px;
    margin: 0 5px;
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
}

.angular-date-range-picker__timesheet {
    position: relative;
    overflow: hidden;
    float: left;
    padding: 9px 10px;
}

.angular-date-range-picker__timesheet:before,
.angular-date-range-picker__timesheet:after {
    content: " ";
    display: table;
}

.angular-date-range-picker__timesheet:after {
    clear: both;
}

.angular-date-range-picker__calendar-day {
    text-align: center;
    cursor: pointer;
    padding: 2px 4px;
    font-size: .9em;
    color: #555;
}

.angular-date-range-picker__calendar-day.angular-date-range-picker__calendar-day-disabled {
    color: #ccc;
}

.angular-date-range-picker__calendar-day.angular-date-range-picker__calendar-day-selected {
    color: #fff;
    background: #3276b1;
}

.angular-date-range-picker__calendar-day.angular-date-range-picker__calendar-day-disabled:hover {
    color: #ccc;
    background: #fff;
}

.angular-date-range-picker__calendar-day-start {
    color: #fff;
    background: #428bca;
}

.angular-date-range-picker__month {
    width: 160px;
    float: left;
}

.angular-date-range-picker__calendar-weekday {
    font-weight: bold;
    font-size: .9em;
}

.date-from-right .angular-date-range-picker__picker {
    right: -1px;
    left: auto;
}

.angular-date-range-picker__picker {
    position: absolute;
    top: 30px;
    left: -1px;
    overflow: hidden;
    background: #fff;
    z-index: 1000;
    border: 1px solid #ccc;
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
}

.angular-date-range-picker--ranged {
    width: 651px;
    height: 183px;
}

.angular-date-range-picker__calendar-day:hover {
    background: #eee;
    border-radius: 2px;
}

.angular-date-range-picker__month-name {
    text-align: center;
    background: #f8f8f8;
}
